@font-face{
	font-family: normal-text;
	src: url('../font/Comfortaa-Light.ttf');
}

@font-face{
	font-family: tittle-text-bold;
	src: url('../font/Comfortaa-Bold.ttf');
}

@font-face{
	font-family: tittle-text-regular;
	src: url('../font/Comfortaa-Regular.ttf');
}
body{
	background:#fff;
/*		background-image: url("../images/mosaico.jpg"); */ 
}

header {
	color:#16a085;
}

footer {
	font-family: tittle-text-regular;
	color:#000;
}

.divider-vertical-second-menu{
   height: 10px;
   width: 1px;
   margin-top: 27px;
   overflow: hidden;
   background-color: #DDD;
   border-right: 1px solid #FFF;
}

.mobile-item-nav{
	font-size: 13px;
	color: #000 !important;
	font-family: tittle-text-bold;
}

.fixed{
	position: fixed !important;
}

.be-blue{
	background: #00B287;
	border: solid 2px #00B287;
	border-right: none;
	border-left: none;
	border-top: none;
}

.be-black{
	border: solid 5px #26A69A;
	border-right: none;
	border-left: none;
	border-top: none;
	background:#004137;
}

.be-grey{
	border: solid 5px #26A69A;
	border-right: none;
	border-left: none;
	border-top: none;
	background:#262626;
}

.be-dark-black{
	background:#262626;
	color: #fff;
}

.normal-txt{
	color: #fff;
	font-family: normal-text;
}

.animation-nav{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-family: tittle-text-bold;
}

.animation-nav:hover {
  color: #00B287;
}

.animation-nav:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #DBC600;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.animation-nav:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.trapecio-top {
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 40px solid #000;
    z-index: -1;
    margin-top: -40px;
}

.cabecera-facebook{
	background: #45619D;
	font-family: tittle-text-regular;
	color:#fff;
	font-size: 20px;
}

.cabecera-twitter{
	background: #54AAEC;
	font-family: tittle-text-regular;
	color:#fff;
	font-size: 20px;
}

.titulo-informativo{
	font-family: tittle-text-bold;
	color:#16a085;
	font-size: 22px;
}

.contenido-informativo{
	font-family: normal-text;
	color:#fff;
	font-size: 14px;
}

.titulo1{
	font-family: tittle-text-regular;
	color:#16a085;
	font-size: 38px;
}

.titulo2{
	font-family: tittle-text-regular;
	color:#16a085;
	font-size: 28px;
}
.contenido1{
	font-family: normal-text;
	color:#000;
	font-size: 20px;
}

.contenido2{
	font-family: normal-text;
	color:#000;
	font-size: 10px;
}
.be-white{
	background: #fff;
}

.active-nav{
	color: #00ffff;	
}

.degradado{
	background: #2BBBAD;
}

.redes_sociales{
	list-style-type: none;
	display: inline;
    margin-top: 10px;
    padding: 0;
}
.largo-fijo{
	height: 900px;
	overflow-y: auto;
}
.content{
	padding: 20px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
	background: #fff;
	border: 2px solid #238C91;
}

.mapa{
	background-image: url("images/mapa.jpg");
}

.centrartext{
	text-align: justify;
}